* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Bree Serif", serif;
  font-family: "Quicksand", sans-serif;
  scroll-behavior: smooth;
}
:root {
  --black: #000000;
  --white: #ffffff;
  --gray: rgba(149, 157, 165, 0.2);
  --footer-color: #e5e5e5;
}

/* LOGIN */
@mixin black-button {
  margin: 20px 0px;
  border-radius: 50px;
  border: none;
  background-color: var(--black);
  color: var(--white);
  padding: 10px;
  width: 180px;
  cursor: pointer;
}

@mixin white-button {
  width: 100%;
  margin: 20px 0px;
  border-radius: 50px;
  border: 1px solid var(--black);
  background-color: var(--white);
  color: var(--black);
  padding: 10px;
  width: 180px;
  cursor: pointer;
}

@mixin input-style {
  margin: 10px 0px;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid var(--gray);
  width: 100%;
}

.mainLogin {
  width: 100%;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  box-shadow: var(--gray) 0px 8px 24px;
  border-radius: 3px;
  width: 40%;
  margin: 130px auto;
  text-align: left;

  div {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  hr {
    width: 100%;
    height: 0.5px;
    background-color: var(--gray);
    width: 100%;
    border: none;
  }

  #signUpBtn {
    @include white-button();
  }

  .loginContainer {
    input {
      @include input-style();
    }
    button {
      @include black-button();
    }
  }

  .registerContainer {
    display: none;

    input {
      @include input-style();
    }
    button {
      @include black-button();
    }
  }
}

/* LOGIN MOBILE */
@media screen and(max-width: 768px) {
  .loginWrapper {
    width: 90%;
  }
}

/* ADMIN */

.adminBody {
  * {
    text-align: center;
  }

  .adminMain {
    margin-top: 80px;
  }

  h3 {
    font-weight: 300;
  }

  input {
    @include input-style();
    border-radius: 5px;
    text-align: center;
  }

  input:focus-visible {
    outline: var(--footer-color) auto 1px;
  }

  textarea {
    text-align: center;
    padding: 10px;
    border: 1px solid var(--gray);
    min-height: 60px;
    border-radius: 5px;
  }

  textarea:focus-visible {
    outline: var(--footer-color) auto 1px;
  }

  .adminListitle {
    margin-top: 20px;
  }

  button {
    @include black-button();
    width: auto;
    padding: 5px 10px;
    margin: 10px;
    font-size: 12px;
    background: var(--footer-color);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    color: black;
  }

  button:hover {
    box-shadow: none;
  }

  main {
    background: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #listProducts {
    padding: 0px 10px;
    width: 100%;
  }

  .adminProductWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 50%;
    margin: 20px auto;
    background: var(--white);
    border-radius: 5px;
    padding: 20px;

    * {
      margin: 5px;
    }
  }

  .modal {
    position: fixed;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;

    .containerUpdate {
      position: relative;
      width: 50%;
      height: auto;
      background-color: var(--white);
      padding: 20px;
      border-radius: 5px;
    }
  }

  .adminCreate {
    max-width: 50%;
    margin: 0 auto;
    textarea {
      width: 100%;
    }
  }
}

/* ADMIN MOBILE */
@media screen and(max-width: 768px) {
  .adminBody {
    .adminMain {
      margin-top: 0px;
    }
    .adminProductWrapper {
      max-width: none;
      padding: 5px;
    }

    .adminCreate {
      max-width: none;
      margin: 10px;
    }

    .modal {
      .containerUpdate {
        width: 95%;
        height: auto;
        padding: 5px;
      }
    }
  }
}

/* FOOTER */
footer {
  background: var(--footer-color);
  width: 100%;
  min-height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  a {
    text-decoration: none;
    color: var(--black);
    font-family: "Bree Serif", serif;
    font-family: "Quicksand", sans-serif;
    font-size: 12px;
  }
  /* HOVER EFFECT FOOTER */
  .underline {
    position: relative;
  }

  .underline::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 1px;
    background-color: var(--black);
    transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
  }

  @media (hover: hover) and (pointer: fine) {
    .underline:hover::before {
      left: 0;
      right: auto;
      width: 100%;
    }
  }
}

/* MOBILE FOOTER*/
@media screen and(max-width: 768px) {
  footer {
    flex-direction: column;
  }
}

/* ACCOUNT */
.account-main {
  padding: 20px;
  text-align: center;
  min-height: 90vh;
  margin-top: 70px;

  h3 {
    margin: 20px;
  }

  table {
    border-collapse: collapse;
    background: var(--white);
    border-radius: 10px;
    width: 100%;
    overflow: hidden;
  }

  td,
  th {
    border-bottom: 1px solid #f5f5f5;
    text-align: left;
    padding: 10px;
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  th {
    background: #f5f5f5;
    color: var(--black);
  }

  tr:hover,
  th:hover {
    background: #f5f5f5;
    cursor: pointer;
  }
}

/* MOBILE ACCOUNT */
@media screen and(max-width: 768px) {
  .account-main {
    margin-top: 0px;
    table,
    thead,
    tbody,
    th,
    td,
    tr {
      display: block;
      max-width: none;
    }

    th {
      display: none;
    }

    td {
      border-bottom: 1px solid #eee;
      position: relative;
      padding-left: 50%;
    }

    td:before {
      position: absolute;
      top: 6px;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
    }

    tr:hover,
    th:hover {
      background: var(--white);
      cursor: pointer;
    }

    td:nth-of-type(1):before {
      content: "orderId";
    }

    td:nth-of-type(2):before {
      content: "userId";
    }

    td:nth-of-type(3):before {
      content: "orderDate";
    }

    td:nth-of-type(4):before {
      content: "totalPrice";
    }

    td:nth-of-type(5):before {
      content: "orderedProducts";
    }
  }
}

/* SUCCESS */
.success-main {
  text-align: center;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h3 {
    font-family: "Bree Serif", serif;
    font-family: "Quicksand", sans-serif;
    font-weight: 200;
    margin: 20px;
  }

  i {
    font-size: 70px;
    margin: 20px;
    color: rgb(40, 199, 48);
  }
}

/* CART */

.cartProductWrapper {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Bree Serif", serif;
  font-family: "Quicksand", sans-serif;
  position: relative;
  color: var(--white);
  margin-top: 40px;

  img {
    width: 100%;
    height: auto;
  }

  .cartProductTitle {
    position: absolute;
    top: 70px;
    max-width: 90%;
  }

  .cartProductPrice {
    position: absolute;
    top: 240px;
  }

  .cartProductDescription {
    top: 140px;
    position: absolute;
    font-size: 30px;
  }
}

#paymentContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0px;
  position: absolute;
  top: 300px;

  button {
    border: none;
    border-radius: 10px;
    background-color: var(--white);
    padding: 16px;
    margin: 20px;
    width: 160px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-family: "Bree Serif", serif;
    font-family: "Quicksand", sans-serif;
  }

  button:hover {
    box-shadow: none;
  }
}

@media screen and(max-width: 1024px) {
  #paymentContainer {
    top: 400px;
    z-index: 1;
  }
}

@media screen and(max-width: 768px) {
  .cartProductWrapper {
    color: var(--black);
    margin-top: 0px;
    .cartProductTitle {
      position: relative;
      top: auto;
      margin: 20px;
    }

    .cartProductPrice {
      position: relative;
      top: auto;
      margin: 10px;
    }

    .cartProductDescription {
      position: relative;
      top: auto;
      margin: 10px;
    }
  }
  #paymentContainer {
    top: auto;
    position: relative;
    margin: 10px 0px;

    button {
      background-color: var(--black);
      color: var(--white);
    }
  }
}

/* HEADER */
header {
  font-family: "Bree Serif", serif;
  font-family: "Quicksand", sans-serif;
  top: 0;
  height: 80px;
  width: 100%;
  position: fixed;
  background-color: rgb(0, 0, 0);
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;
  padding: 5px;
  z-index: 2;
  transition: top 0.7s;
}

#userDisplay {
  font-weight: 150;
  font-size: 20px;
}

.mobileHeader {
  width: 100%;
  height: auto;
  display: none;
}

@media screen and(max-width: 1024px) {
  header {
    display: none;
  }
  .mobileHeader {
    display: flex;
    flex-direction: column;
    padding: 40px;
    z-index: 999;

    .mobileBars {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      i {
        font-size: 25px;
        cursor: pointer;
        z-index: 999;
      }
    }

    .mobileLinks {
      width: 100%;
      display: none;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-height: 90vh;
      background-color: var(--black);
      z-index: 999;

      a {
        text-decoration: none;
        font-size: 30px;
        margin: 30px;
        color: var(--white);
        cursor: pointer;
      }

      a:hover {
        color: #b1b1ff;
      }
    }
  }
}

.color {
  background-color: rgba(0, 0, 0, 0.815);
}

.leftHeader {
  height: inherit;
  width: 25%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}

.rightHeader {
  height: inherit;
  width: 25%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.rightHeader a {
  margin: 10px;
  text-decoration: none;
  color: white;
  font-size: 12px;
}

.rightHeader #logout {
  margin: 10px;
  color: white;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  padding: 0;
  cursor: pointer;
  font-size: 12px;
}

.rightHeader button {
  color: white;
  background-color: black;
  border: none;
  margin: auto;
  font-size: 20px;
  font-family: "Bree Serif", serif;
  font-family: "Quicksand", sans-serif;
  position: absolute;
  top: 30%;
}

.navMenu {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#logout a {
  font-size: 18px;
  top: 20%;
  position: absolute;
}

.navMenu a {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  width: 95px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:nth-of-type(1) {
  width: 70px;
}

.navMenu a:nth-of-type(2) {
  width: 70px;
}

.navMenu a:hover {
  color: #b1b1ff;
}

.navMenu .dot {
  width: 6px;
  height: 6px;
  background: #b1b1ff;
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: translateX(26px);
  transform: translateX(26px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:nth-child(1):hover ~ .dot {
  -webkit-transform: translateX(22px);
  transform: translateX(22px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(2):hover ~ .dot {
  -webkit-transform: translateX(96px);
  transform: translateX(96px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(3):hover ~ .dot {
  -webkit-transform: translateX(183px);
  transform: translateX(183px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(4):hover ~ .dot {
  -webkit-transform: translateX(285px);
  transform: translateX(285px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

/* START */
.startMain {
  width: 100%;
  margin-top: 90px;
  text-align: center;

  h1 {
    margin: 30px 30px 30px 30px;
  }

  @import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@900&display=swap");

  .startContainer {
    height: 200vh;
  }

  .container {
    /* hide fixed overflow contents */
    clip: rect(0, auto, auto, 0);

    /* does not work if overflow = visible */
    overflow: hidden;

    /* only works with absolute positioning */
    position: absolute;

    /* Make sure containers are full-width and height */
    height: 100vh;
    left: 0;
    width: 100%;

    /* safari hack */
    -webkit-mask-image: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 100%);
  }

  .container_solid {
    background: white;

    /* position this container at the top of its parent element */
    top: 0;
  }

  .title_wrapper {
    position: fixed;
    display: block;
    margin: auto;
    width: 100%;
    /* center the text wrapper vertically */
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .title_wrapper h1 {
    text-align: center;
    font-size: 64px;
    text-transform: uppercase;
    text-align: center;
    font-family: "Fraunces", serif;
    font-weight: 900;
  }

  .container_solid .title_wrapper h1 {
    /* the text background */
    background: url(https://images.unsplash.com/photo-1501139083538-0139583c060f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
    background-size: 100vw auto;
    background-position: center;

    /* clip the text is possible */
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;

    /* fallback text color */
    color: black;
  }

  .container_image {
    /* Grab a free image from unsplash */
    background-image: url(https://images.unsplash.com/photo-1501139083538-0139583c060f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
    background-size: 100vw 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;

    /* position the second container below the first container */
    top: 100vh;
  }

  .container_image .title_wrapper h1 {
    color: white;
  }

  #productContainer {
    height: 100vh;
    padding: 2em;
    margin: auto;
    max-width: 1400px;
    display: flex;
    justify-content: center;
    align-items: center;

    .mainWrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      flex-wrap: wrap;
      .productWrapper {
        position: relative;
        width: 30%;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
          rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
        border-radius: 10px;
        padding: 20px;
        height: auto;
        margin: 40px auto;

        .productDescription {
          height: 130px;
        }

        button {
          @include black-button();
        }

        * {
          margin: 20px auto;
        }

        img {
          height: 300px;
          width: 100%;
          object-fit: cover;
          border-radius: 10px;
        }
      }
    }
  }
}

@media screen and(max-width: 1024px) {
  .startMain {
    margin-top: 0px;

    h1 {
      margin: 0px 30px 30px 30px;
    }
    #productContainer {
      height: auto;

      .mainWrapper {
        .productWrapper {
          width: 100%;
        }
      }
    }
  }
}

@media screen and(max-width: 768px) {
  .startMain {
    .title_wrapper h1 {
      font-size: 40px;
    }
  }
}

/* CONTACT */
.mainContact {
  min-height: 90vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;

  * {
    margin-top: 20px;
  }
}
